@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: "Inter", sans-serif;
  transition: all ease-in-out .15s;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column !important;
  }

  .avatar {
    max-height: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
  }

  .contacts {
    margin-top: 1rem;
    gap: .5rem;
  }
}

header {
  position: fixed;
  top: 0;
  padding: 1rem;
  width: 100vw;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid black;
}

.avatar {
  height: 120px;
  object-fit: cover;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-job {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.name-job * {
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a:visited {
  color: blue;
}

.links * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}